<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gWomen</title>
  </head>
  <body>
      <nav>
      <div class="row">
        <div class="col-6 logo">
        <a href="#" routerLink="/">
          <img src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/galvanize/logo.png" alt="galvanize" height="40" width="20">
          | Women
        </a>
      </div>
        <div class="col-6">
          <div class="row this">
            <div class="col">
             <a href="" routerLink="/">HOME </a>
          </div>
          <div class="col">
              <a href="#" routerLink="about">ABOUT</a>
          </div>
            <div class="col">
              <a href="#" routerLink="events">EVENTS</a>
          </div>
        <div class="col">
              <a href="#" routerLink="jobs">JOBS</a>
          </div>
          <div class="col">
              <a href="#" routerLink="join">LOGIN OR JOIN</a>
          </div>
        </div>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>
    <!-- <footer>
    </footer> -->
  </body>
</html>
