nav {
  background-color: #093E50  !important;
  height: 70px !important;
  opacity: 0.9;
}

footer {
      background-color: #093E50;
      color: white;
      padding: 15px;
      height: 70px !important;
      opacity: 0.9;
}
