.hello {
  margin: 3% !important;
  height: 550px !important;
  background-image: url('http://via.placeholder.com/1488x550');
}

.main {
  text-align: center;
  padding-top: 15%;
  text-shadow: 3px 3px #B0804F;
  color: white;
}

.About {
  font-family: 'Lora', serif;
  text-align: center;
  color: #243C54;
}

.connect {
  margin-top: 7%;
}
