<div class="container">
  <form class="row">
    <input class="search" type="text" name="forms" [(ngModel)]="result1" placeholder="Search state location . . .">
    <input class="search" type="text" name="forms" [(ngModel)]="result" placeholder="Search job title . . .">
  </form>
  <ng-container *ngFor="let job of data | filterjobs: result | filterstate: result1">
    <h4 class="position">{{job.position}}-{{job.location}}</h4>
    <h6 class="description">{{job.description}}</h6>
    <a href={{job.link}}>Learn More ... </a>
  <hr>
  </ng-container>
</div>
