<head>
    <script src="https://use.fontawesome.com/3b2750a762.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
  <div class="hello">
    <div class="main">
      <h1> gWomen </h1>
      <h2> Empowered Women Empower Women </h2>
    </div>
  </div>
<div class="container">
  <div class="row images">
      <div class="col about">
        <a href="#" routerLink="about">
          <div class="source">
            <h3> ABOUT </h3>
          </div>
        </a>
      </div>
      <div class="col about">
        <a href="#" routerLink="events">
          <div class="source">
            <h3>UPCOMING EVENTS </h3>
          </div>
        </a>
      </div>
      <div class="col jobs">
        <a href="#" routerLink="jobs">
          <div class="source">
            <h3> JOBS </h3>
          </div>
        </a>
      </div>
  </div>
</div>

<div>
</div>

</body>
