<head>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <form class="forms" (submit)="loginUser($event)">
        <h2>Log In !</h2>
        <div class="form-group">
          <label for="email"></label>
          <input style="font-size:15px;" type="email" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="pwd"></label>
          <input style="font-size:15px;" type="password" class="form-control"  placeholder="Password">
        </div>
        <div class="">
            <h4 routerLink="/join/signup">New to gWomen? Register here !</h4>
        </div>
        <button class="hoverable" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
  <!-- <div class="container">
    <div class="row images">
        <div class="col about">
          <a href="#" routerLink="about">
            <div class="source">
              <h3> ABOUT </h3>
            </div>
          </a>
        </div>
        <div class="col about">
          <a href="#" routerLink="userevents">
            <div class="source">
              <h3>UPCOMING EVENTS </h3>
            </div>
          </a>
        </div>
        <div class="col jobs">
          <a href="#" routerLink="userjobs">
            <div class="source">
              <h3> JOBS </h3>
            </div>
          </a>
        </div>
    </div>
  </div> -->

  <!-- <div class="hello">
    <div class="hello3">
    <div class="hello2">
    <form class="forms">
      <h2>Log In !</h2>
      <div class="form-group">
        <label for="email"></label>
        <input style="font-size:25px;" type="email" class="form-control form-control-lg" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="pwd"></label>
        <input style="font-size:25px;" type="password" class="form-control form-control-lg"  placeholder="Password">
      </div>
      <div class="">
          <h4 routerLink="/join/signup">New to gWomen? Register here !</h4>
      </div>
      <button class="hoverable" routerLink="/join/users" type="submit">Submit</button>
    </form>
  </div>
</div>
    <div class="main">
      <h1> gWomen </h1>
      <h2> Empowered Women Empower Women </h2>
    </div>
  </div>
<div class="container">
  <div class="row images">
      <div class="col about">
        <a href="#" routerLink="about">
          <div class="source">
            <h3> ABOUT </h3>
          </div>
        </a>
      </div>
      <div class="col about">
        <a href="#" routerLink="userevents">
          <div class="source">
            <h3>UPCOMING EVENTS </h3>
          </div>
        </a>
      </div>
      <div class="col jobs">
        <a href="#" routerLink="userjobs">
          <div class="source">
            <h3> JOBS </h3>
          </div>
        </a>
      </div>
  </div>
</div>

<div>
</div> -->

</body>
