body {
  height: 100%;
  width: 100%;
}
.hello {
  margin: 3% !important;
  /*width: 100%;*/
  height: 34% !important;
}
.images {
  /*margin-top: 3%;*/
}
/*.row {
  padding-top: 20px !important;
}*/

.col {
  height: 380px;
}
