<head>
    <script src="https://use.fontawesome.com/3b2750a762.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
  <div class="hello" style="background-image: url('http://via.placeholder.com/1488x543')">
    <div class="main">
      <h1> gWomen </h1>
      <h2> Empowered Women Empower Women </h2>
    </div>
  </div>
<div class="container">
  <div class="row images">
      <div class="col about">
        <a href="#" routerLink="about">
          <!-- <img src="http://via.placeholder.com/350x150" alt="" height="100%" width="100%"> -->
          <div class="source">
            <h3> ABOUT </h3>
          </div>
        </a>
      </div>
      <div class="col about">
        <a href="#" routerLink="events">
          <!-- <img src="http://via.placeholder.com/350x150" alt="" height="100%" width="100%"> -->
          <div class="source">
            <h3>UPCOMING EVENTS </h3>
          </div>
        </a>
      </div>
      <div class="col about">
        <a href="#" routerLink="jobs">
          <!-- <img src="http://via.placeholder.com/350x150" alt="" height="100%" width="100%"> -->
          <div class="source">
            <h3> JOBS </h3>
          </div>
        </a>
      </div>
  </div>
</div>

<div>
  <he
</div>

</body>
