body {
  font-family: 'Lora', serif;
  height: 100vh;
  width: 1583px;
}
.hello {
  margin: 3% !important;
  /*height: 36% !important;*/
  background-image: url('http://via.placeholder.com/1488x543');
}

.main {
  text-align: center;
  padding-top: 15%;
  height: 543px;
  /*width: 1688px;*/
  text-shadow: 3px 3px #B0804F;
  color: white;
}

.about {
  background-image: url('http://via.placeholder.com/370x370');
  border: 10px;
  text-shadow: 3px 3px #2c5374;
  padding: 0;
}

.source {
  text-align: center;
  margin-top: 50%;
  color: white;
}

.col {
  height: 380px;
}

.jobs {
  background-image: url('./jobs.png');
  height: 370px;
  width: 370px;
  text-shadow: 3px 3px #2c5374;
}

a {
  text-decoration: none !important;
}

h3 {
  font-size: 34px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 34px;
}
