.card {
  font-family: 'Lora', serif;
  padding:0;
  margin-top: 3%;
  width: 20%;
  height: 25%;
  background-color: #E2D3C5;
}
.profile {
  border-radius: 47%;
  height: 210px;
  margin-top: 6%;
  margin-bottom: 6%;
}

.first{
  background-color: #B0804F;
}

.second {
  background-color: #E2D3C5;
}

.h {
  text-align: center;
}
