/*.card {
  font-family: 'Lora', serif;
  padding:0;
  margin-top: 3%;
  width: 20%;
  height: 25%;
  background-color: #E2D3C5;
}
.profile {
  border-radius: 47%;
  height: 210px;
  margin-top: 6%;
  margin-bottom: 6%;
}

.first{
  background-color: #B0804F;
}

.second {
  background-color: #E2D3C5;
}

.h {
  text-align: center;
}*/

.description {
  padding-top: 3%;
}

.user {
  margin-top: 9%;
  height: 100%;
  width: 100%;
  background-color: ;
}

.image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.col-4 {
  text-align: center;
  font-size: 30px;
  text-align: center;
}

hr {
  height: 13px;
	border: 0;
  margin: 2%;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
