.row {
  font-family: 'Lora', serif;
  margin-top: 5%;
}

.pad {
  padding: 2%;
  height: 800px;
}

h1 {
  padding-bottom: 3%;
  color: #243C54;
  padding-left: 30%;
}

h2 {
  margin-top: 15%;
  margin-bottom: 5%;
  color: #243C54;
  text-align: center;
}

h4 {
  text-align: center;
  padding: 5%;
}

button {
  margin-left: 47%;
  border-radius: 18px;
  padding: 6px;
}

.California{
  background-image: url('./Cali2.png');
  height: 100px !important;
  width: 120px !important;
  background-repeat: no-repeat;
  margin-left: 8%;
  margin-top: 4%;
  padding: 0;
}

.second {
  margin-top: 0;
}

.Texas {
  background-image: url('./Texas.png');
  height: 100px !important;
  width: 120px !important;
  background-repeat: no-repeat;
}

.Washington {
  background-image: url('./Washington.png');
  height: 100px !important;
  width: 120px !important;
  background-repeat: no-repeat;
}

.Colorado {
  background-image: url('./Colorado.png');
  height: 100px !important;
  width: 120px !important;
  margin-top: 4%;
  padding: 0;
  background-repeat: no-repeat;
}
.Arizona {
  background-image: url('./Arizona.png');
  height: 100px !important;
  width: 120px !important;
  margin-top: 4%;
  background-repeat: no-repeat;
}
.NewYork {
  background-image: url('./NewYork.jpeg');
  height: 100px !important;
  width: 120px !important;
  margin-top: 4%;
  background-repeat: no-repeat;
}
