  <body>
   <div class="row">
    <div class="col-8 pad">
      <h1> Lets connect !</h1>
      <div class="row second justify-content-center">
        <div class="col-2 Texas">
        </div>
        <div class="col-2 Washington">
        </div>
      </div>
      <div class="row second justify-content-around">
        <div class="col-3 California">
        </div>
        <div class="col-3 Colorado">
        </div>
      </div>
      <div class="row second justify-content-center">
        <div class="col-2 Arizona">
        </div>
        <div class="col-2 NewYork">
        </div>
      </div>
    </div>

    <div class="col-4 pad">
          <h2>Log In !</h2>
    <form>
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control form-control-lg" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="pwd"></label>
        <input type="password" class="form-control form-control-lg"  placeholder="Password">
      </div>
      <div class="">
          <h4 routerLink="/join/signup">New to gWomen? Register here !</h4>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

  </body>
