<body>
  <div class="row">
    <div class="col-2 hello">
      <button class="button" type="button" routerLink="/" name="button">Logout</button>
    </div>
  </div>
<div class="container">
<div class="row justify-content-around">
    <div class="col-4 events">
      <a href="#" routerLink="events">
      <h1 routerLink="events"> Upcoming Events </h1>
    </a>
    </div>
    <div class="col-4 jobs">
      <a href="#" routerLink="jobs">
      <h1> Jobs </h1>
      </a>
    </div>
    <div class="col-4 users">
      <a href="#" routerLink="users">
      <h1> Users </h1>
    </a>
    </div>
</div>
</div>
</body>
