body{
  font-family: 'Lora', serif;
  color: white;
}

.jobs {
  background-image: url('./jobss.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  text-shadow: 3px 3px #2c5374;
}

.events {
  background-image: url('./events3.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  text-shadow: 3px 3px #2c5374;
}
.users {
  background-image: url('./users.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  text-shadow: 3px 3px #2c5374;
}

.container {
  margin-top: 7%;
  margin-bottom: 7%;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 300px;
}
