body {
  font-family: 'Lora', serif;
}
.card {
  border: none;
}
hr {
  height: 13px;
	border: 0;
  margin: 2%;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.rsvp {
  padding: 10%;
  border-radius: 18px;
  margin-bottom: 4%;
  background-color: #2c5374;
  color: white;
}

.search {
  margin-left: 9%;
  font-size: 30px;
  border-bottom: 2px solid #757575;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 3%;
  width: 35%;
  outline: none;
  margin-top: 2%;
}

a {
  text-decoration: none !important;
}

.who {
  font-weight: bold;
  font-size: 22px;
}

.location {
  font-size: 18px;
}
