body {
  font-family: 'Lora', serif;
}

.together{
  margin-left: 10%;
  margin-right: 10%;
}

.middle {
  margin-left: 43%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 6px;
  border-radius: 18px;
  color: #2c5374;
  background-color: #E2D3C5;
  outline: none;
}

.submit {
  margin-left: 45%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 7px;
  border-radius: 18px;
  color: white;
  background-color: #FF8800;
  outline: none;
}

.card {
  border: none;
}

.col-1 {
  text-align: center;
}

hr {
  height: 13px;
	border: 0;
  margin: 2%;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.rsvp {
  padding: 10%;
  border-radius: 18px;
  margin-bottom: 4%;
  background-color: #2c5374;
  color: white;
}

.delete {
  padding: 10%;
  border-radius: 18px;
  margin-bottom: 4%;
  color: white;
  background-color: #7A8592;
}

.search {
  margin-left: 9%;
  font-size: 30px;
  border-bottom: 2px solid #757575;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 3%;
  width: 35%;
  outline: none;
}

a {
  text-decoration: none !important;
}

.who {
  font-weight: bold;
  font-size: 22px;
}

.location {
  font-size: 18px;
}
