
  <body>
    <div class="row">
      <div class="col-2 hello">
        <button class="button" type="button" routerLink="/" name="button">Logout</button>
      </div>
    </div>
    <div class="container">
      <button class="middle" (click)="toggleTitle()">
      + Add event
    </button>
    <div class="coffee"></div>
    <div class="title1" style="display:none">
      <form (ngSubmit)=onSubmit(event)>
        <div class="row justify-content-around">
        <div class="form-group" class="col-4" >
          <label for="title"></label>
          <input type="text" name="title" [(ngModel)]="event.title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group" class="col-4">
          <label for="host"></label>
          <input type="text" name="host" [(ngModel)]="event.host" class="form-control" placeholder="Host">
        </div>
      </div>
        <div class="form-group row justify-content-md-center">
          <label for="eventlink"></label>
          <input style="margin-top: 3.5%" type="text" name="eventlink" [(ngModel)]="event.eventlink" class="form-control" placeholder="Event link">
        </div>
        <div class="row">
        <div class="form-group col">
          <label for="month"></label>
          <input type="text" name="month" class="form-control" placeholder="Month">
        </div>
        <div class="form-group col">
          <label for="day"></label>
          <input type="number" name="day" [(ngModel)]="event.day" class="form-control" placeholder="Day">
        </div>
        <div class="form-group col">
          <label for="city"></label>
          <input type="text" name="city" [(ngModel)]="event.city" class="form-control" placeholder="City">
        </div>
        <div class="form-group col">
          <label for="state"></label>
          <input type="text" name="state" [(ngModel)]="event.state" class="form-control" placeholder="State">
        </div>
      </div>
       <input class="submit" type="Submit" value="Submit"/>
      </form>
    </div>
    <form class="row">
    <input class="search" type="text" name="form" value="" [(ngModel)]="term1" placeholder="Search the title . . .">
    <input class="search" type="text" name="form" value="" [(ngModel)]="term" placeholder="Search your state for events . . .">
  </form>
      <ng-container *ngFor="let event of data | filter: term | filtertitle: term1">
        <div class="card">
            <div class="row">
              <div class="col-1">
                <h4> {{event.month}} </h4>
                <h3> {{event.day}} </h3>
              </div>
              <div class="col-10">
                <p class="who"> {{event.title}} - {{event.host}}</p>
                <p class="location">{{event.city}}, {{event.state}}</p>
              </div>
              <div class="col-1">
                <a href={{event.eventlink}}>
                <button class="rsvp" type="button" name="button">
                  RSVP
                </button>
              </a>
              <button class ="delete" (click)="onRemove(event.id)" type="button" name="button">
                Delete
              </button>
              </div>
            </div>
        </div>
        <hr>
      </ng-container>
    </div>
