<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Upcoming Events </title>
  </head>
  <body>
    <div class="container">
      <button class="middle" (click)="toggleTitle()">
        + Add job
      </button>
      <div class="title1" style="display:none">
        <form (ngSubmit)=onSubmit(job)>
          <div class="form-group" class="col-md-6 offset-md-3">
            <label for="position"></label>
            <input type="text" name="position" [(ngModel)]="job.position" class="form-control" placeholder="Position">
          </div>
            <div class="form-group">
              <label for="description"></label>
              <input type="text" name="description" [(ngModel)]="job.description" class="form-control" placeholder="Brief description">
            </div>
          <div class="row justify-content-center">
            <div class="form-group col-4">
              <label for="link"></label>
              <input type="text" name="link" [(ngModel)]="job.link" class="form-control" placeholder="Job link">
            </div>
            <div class="form-group col-4">
              <label for="contact"></label>
              <input type="text" name="contact" [(ngModel)]="job.contact" class="form-control" placeholder="Contact">
            </div>
         </div>
         <input class="submit" type="Submit" value="Submit"/>
        </form>
      </div>
      <form class="row">
          <input class="search" type="text" name="forms" [(ngModel)]="result1" placeholder="Search state location . . .">
          <input class="search" type="text" name="forms" [(ngModel)]="result" placeholder="Search job title . . .">
        </form>
      <ng-container *ngFor="let job of data | filterjobs: result | filterstate: result1">
        <h4 class="position">{{job.position}}-{{job.location}}</h4>
        <h6 class="description">{{job.description}}</h6>
        <a href={{job.link}}>Learn More ... </a>
        <button class="delete" type="button" name="button" (click)="onRemove(job.id)"> Delete</button>
        <hr>
      </ng-container>
    </div>
  </body>
</html>
