<body>
  <div class="container">
    <div class="empower">
      
    </div>
    <h3>Sign Up !</h3>
      <form>
      <div class="row justify-content-around">
      <div class="form-group col-5">
        <label for="firstname"></label>
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="form-group col-5">
        <label for="lastname"></label>
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      </div>
      <div class="row justify-content-around">
      <div class="form-group col-5">
        <label for="username"></label>
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group col-5">
        <label for="password"></label>
        <input type="text" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row justify-content-center">
    <div class="form-group col-4">
      <label for="image"></label>
      <input type="src" class="form-control" placeholder="Image">
    </div>
  </div>
      <div class="form-group">
        <label for="description"></label>
        <input type="text" class="form-control" placeholder="Brief Description">
      </div>
      <div class="row justify-content-center">
      <div class="form-group col-3">
        <label for="lastname"></label>
        <input type="integer" class="form-control" placeholder="Cohort">
      </div>
      <div class="form-group col-3">
        <label for="state"></label>
        <input type="text" class="form-control" placeholder="State">
        </div>
      </div>
      <hr class="working">
      <div class="form-group col">
        <label for="linkedIn"></label>
        <input type="text" class="form-control" placeholder="linkedIn link">
      </div>
      <div class="form-group col">
        <label for="gitHub"></label>
        <input type="text" class="form-control" placeholder="gitHub link">
      </div>
      <button type="submit">Submit</button>
    </form>
 </div>
</body>
