<body>
  <div class="container">
    <h3>Sign Up !</h3>
      <form>
      <div class="row justify-content-around">
      <div class="form-group col-5">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-5">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control">
      </div>
      </div>
      <div class="row justify-content-around">
      <div class="form-group col-5">
        <label for="username">Choose Username</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-5">
        <label for="password">Password</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center">
    <div class="form-group col-4">
      <label for="image">Add image</label>
      <input type="src" class="form-control">
    </div>
  </div>
      <div class="form-group">
        <label for="description">Brief Description About You</label>
        <input type="text" class="form-control">
      </div>
      <div class="row justify-content-center">
      <div class="form-group col-3">
        <label for="lastname">Cohort</label>
        <input type="integer" class="form-control">
      </div>
      <div class="form-group col-3">
        <label for="state">State</label>
        <input type="text" class="form-control">
        </div>
      </div>
      <hr class="working">
      <div class="form-group col">
        <label for="state">LinkedIn</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col">
        <label for="state">GitHub</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit">Submit</button>
    </form>
 </div>
</body>
